{% extends 'flatpages/default.html' %}

{% block title %}
  {{ post.post_name }}
{% endblock title %}

{% block content %}
  <table>
      <thead>
          <th>
              Название
          </th>
          <td>
              Категория
          </td>
          <th>
              Дата публикации
          </th>
          <th>
              Содержание
          </th>
      </thead>
      <tr>
          <td>
              {{ post.post_name }}
          </td>
          <td>
              {% for category in post.category.all %}
                  {{ category.name }}
              {% endfor %}
          </td>
          <td>
              {{ post.post_date | date:'d M Y' }}
          </td>
          <td>
              {{ post.content }}
          </td>
      </tr>
  </table>
<hr>
    {% for category in post.category.all %}
        <a href="category/subscribe/?category={{ category.id }}">Подписаться на {{ category.name }}</a><br>
    {% endfor %}
    

{% endblock content %}

